server:
  port: 9002

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/user_db}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
  jpa:
    show-sql: true

management:
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    com.ecommerce: DEBUG
